### **Practicando CONSULTAS de Clase 31**

Para escribir hay que darle a + Cell y TEXTO. Luego para el código, le das a +Cell de código

In [ ]:
#Como así, y vamos alternando.
#Vamos a conectarlo con VSC y github para hacer commits desde aquí 
#(en los 3 puntitos unidos por lineas, 6ta herramienta en la columna de la izq.)

Tenemos 1Tera de tablas sincronizadas en AZURE con SQL, SSMS, y otras bases de datos etc...  cuando se trabaja sobre la nube, el costo es por consulta, QUERY, seleccionar tablas, elegir x, hay que saber hacer preguntas ADECUADAS, minimizar el volumen de consultas/query/cláusulas (SELEC, SUMAR...). Y así adquiero las tablas finales con las que empezar a implementar el modelo. Exportamos las tablas en csv. Me las llevo a python (en libreria llamado PANDA y se guarda en DATAFRAME (es cómo Panda lee las tablas). Desde aquñí limpiamos datos. SQL es un intermediario, podemos usar directamente Python si queremos.

**PARA USAR COMANDOS:**

_USE_: qué carpeta quiero usar

_FROM_: seleccionar la tabla que quiero

_SELECT_ la columna que busco, se separa entre comas, pero al final NO.

Ej. SELECT venta,fecha <span style="color: var(--vscode-foreground);">FROM ventas;</span>

Para añadir una columna que no existía, sin alterar integridad de los datos

Ej. SELECT venta,fecha,venta\*0.16 

para pedir una columna donde se sepa el porcentaje de 0.16% sobre el precio que aparece en las celdas de venta.

Puedes cambiar el nombre de la columna poniendo SELECT venta,fecha,venta\*0.16 AS IVA 

y aparecerá como IVA

Esto que añadimos, NO cuesta más dinero, lo que cuesta es CADA palabra de consulta: SELECT, WHERE, FROM...

In [1]:
USE datos

El asterisco es para seleecionar todas las columnas de la tabla que diga: SELECT \* (todas las columnas) FROM (de la tabla que quiera)

In [2]:
SELECT * FROM empleados

ID_empleado,Nombre,Apellido,Telefono,Edad,Domicilio,ID_Gerente
1111222,Alberto,Barrientos,34766613,26,Federal 233,5942572
2310967,Jairo,Mira,36403810,29,Calle 25 interior 2,5942572
2520477,Egidio,Lopez,33444383,24,Rosas 996,5942572
2630867,Elena,Atehortua,35581732,37,Sierra del tigre 299,5942572
3833745,Maria,Zapata,35354455,34,Boulevard 85,5942572
4245367,Alexandra,Zapata,33467136,31,Ingenieros 234,5942572
5942572,Jesus,Agudelo,34616222,35,NULL,NULL
6332756,Reinaldo,Gonzalez,36642727,43,Vallarta 711,5942572
6931035,Albeiro,Villa,33631010,39,Carniceros 233,5942572
9611338,Haygnes,Ortiz,35400189,27,General Diaz 343,5942572
9922377,Alexander,Martinez,36554872,28,Camino viejo 123,5942572

Para saber qué columnas existentes hay en una tabla para ver qué elegir, boton derecho sobre la tabla qu me interesa y aparece una carpeta con COLUMNS y ahí aparecen. Pero tambien puedo darle botón derecho sobre la tabla ej "ingredientes" y darle a "Select top 1000" y te da las primeras 1000 entradas, pero eso cuesta dinero. **Cuesta dinero por el tiempo de procesamiento/computación.**

In [3]:
WHERE Edad = 35

: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'WHERE Edad = 35' at line 1

Vale, no se asume que estás haciendo la siguiente clausula con los datos acotados del resultado anterior, hay que volver a escribirlo todo.

In [5]:
SELECT * from EMPLEADOS where Edad = 35

ID_empleado,Nombre,Apellido,Telefono,Edad,Domicilio,ID_Gerente
5942572,Jesus,Agudelo,34616222,35,NULL,NULL

Ahora voy a hacer que me saque todo EXCEPCTO lo que quiera != \*\* es el codigo. Seleccioname todas las columnas del archivo "VENTAS" donde sean datos del local identificado como "2" y que NO se hayan vendido productos de "pzz" pizza.

In [6]:
SELECT * FROM ventas WHERE ID_local=2 AND clave_producto!= "pzz";

ventas_id,Fecha,ID_local,clave_producto,venta,venta_empleado
2,2018-09-17 00:00:00,2,clz,953,2310967
19,2019-08-14 00:00:00,2,clz,972,2310967

Para que elijan lo de UNA u OTRA condición, se usa el OR. Or puede usarse en diferente campo (Columna) o en la misma, el AND solo puede ser con diferentes columnas.

Por ejemplo:

(hay que poner paréntesis para que cuente el "este o este" y luego ponga con AND condición necesaria de lo de pizza, si no, lo interpreta diferente).

In [11]:
SELECT * FROM ventas WHERE (ID_local=2 OR ID_local=4) 
AND clave_producto= "pzz";

ventas_id,Fecha,ID_local,clave_producto,venta,venta_empleado
1,2018-11-18 00:00:00,2,pzz,1302,2630867
7,2018-07-28 00:00:00,4,pzz,1444,6332756

El operador IN sirve para añadir todos los valores que busque en el campo (columna)

Por ejemplo "SELECT\*FROM ventas WHERE clave\_producto **IN** ("clz", "pzz", qsd")

In [17]:
SELECT*FROM ventas WHERE ID_local IN (1,2) AND clave_producto IN ("clz", "pzz");
#el fallo era que puse SELECT*FROM ventas WHERE ID_local IN (1,2) WHERE AND clave_producto IN ("clz", "pzz"); pero el segudno WHERE no era necesario porque el WHERE inicial ya cuenta para todo- Me daba error y ya no.

ventas_id,Fecha,ID_local,clave_producto,venta,venta_empleado
1,2018-11-18 00:00:00,2,pzz,1302,2630867
2,2018-09-17 00:00:00,2,clz,953,2310967
8,2018-10-05 00:00:00,1,pzz,435,2520477
12,2019-09-03 00:00:00,1,pzz,1362,5728566
17,2019-10-25 00:00:00,1,pzz,1376,6332756
19,2019-08-14 00:00:00,2,clz,972,2310967
20,2019-12-01 00:00:00,1,pzz,1455,2310967

Para buscar un producto del que no me acuerdo nombre pero sé que empezaba con z, pues pongo WHERE clave\_producto **LIKE** "%z" significa que z al final y cualquier otra cosa delante. LIKE "z%" significa que empiece por z y lo que sea detrás. Si es LIKE "\_z" significa que SOLO hay un caracter delante de z. LIKE "\_\_z" que solo hay dos caracteres delante. o LIKE "\_z\_" que hay un caracter delante y otro detrás de z.

Uso del **BETWEEN** para listados numéricos.

_\*\*sin embargo en el ejemplo de abajo, cuando pones WHERE + BETWEEN y quieres añadir que también busque los que NO se llaman jesús, solo con poner "AND Nombre=Jesus" no sirve, hay que poner AND NOT, porque el "NOT" de "WHERE" no se aplica al resto._

In [38]:
SELECT * FROM empleados WHERE NOT Edad BETWEEN 1 AND 34 AND NOT Nombre="Jesus"

ID_empleado,Nombre,Apellido,Telefono,Edad,Domicilio,ID_Gerente
2630867,Elena,Atehortua,35581732,37,Sierra del tigre 299,5942572
6931035,Albeiro,Villa,33631010,39,Carniceros 233,5942572
6332756,Reinaldo,Gonzalez,36642727,43,Vallarta 711,5942572