**Estoy probando más cláusulas, conectándolas entre sí cada vez de forma más complicada, para entender bien cómo funcionan.**

In [1]:
USE datos

In [5]:
SELECT * FROM empleados WHERE nombre LIKE "%a";

ID_empleado,Nombre,Apellido,Telefono,Edad,Domicilio,ID_Gerente
2630867,Elena,Atehortua,35581732,37,Sierra del tigre 299,5942572
3833745,Maria,Zapata,35354455,34,Boulevard 85,5942572
4245367,Alexandra,Zapata,33467136,31,Ingenieros 234,5942572

In [7]:
SELECT * FROM empleados WHERE nombre LIKE "%a" AND apellido LIKE "%ta";

ID_empleado,Nombre,Apellido,Telefono,Edad,Domicilio,ID_Gerente
3833745,Maria,Zapata,35354455,34,Boulevard 85,5942572
4245367,Alexandra,Zapata,33467136,31,Ingenieros 234,5942572

In [11]:
SELECT * FROM empleados WHERE nombre REGEXP "^A"; #Expresion regular para indicar que empiecen por la letra A

ID_empleado,Nombre,Apellido,Telefono,Edad,Domicilio,ID_Gerente
1111222,Alberto,Barrientos,34766613,26,Federal 233,5942572
4245367,Alexandra,Zapata,33467136,31,Ingenieros 234,5942572
6931035,Albeiro,Villa,33631010,39,Carniceros 233,5942572
9922377,Alexander,Martinez,36554872,28,Camino viejo 123,5942572

In [13]:
SELECT * FROM empleados WHERE nombre REGEXP "e"; #muestra todo nombre que tenga una "e" en su nombre

ID_empleado,Nombre,Apellido,Telefono,Edad,Domicilio,ID_Gerente
1111222,Alberto,Barrientos,34766613,26,Federal 233,5942572
2520477,Egidio,Lopez,33444383,24,Rosas 996,5942572
2630867,Elena,Atehortua,35581732,37,Sierra del tigre 299,5942572
4245367,Alexandra,Zapata,33467136,31,Ingenieros 234,5942572
5942572,Jesus,Agudelo,34616222,35,NULL,NULL
6332756,Reinaldo,Gonzalez,36642727,43,Vallarta 711,5942572
6931035,Albeiro,Villa,33631010,39,Carniceros 233,5942572
9611338,Haygnes,Ortiz,35400189,27,General Diaz 343,5942572
9922377,Alexander,Martinez,36554872,28,Camino viejo 123,5942572

In [14]:
SELECT * FROM empleados WHERE nombre REGEXP "e" AND NOT nombre REGEXP "a"; 
#Elegimos cualquier nombre que contenga "e" pero no contenga la letra "a"

ID_empleado,Nombre,Apellido,Telefono,Edad,Domicilio,ID_Gerente
2520477,Egidio,Lopez,33444383,24,Rosas 996,5942572
5942572,Jesus,Agudelo,34616222,35,NULL,NULL

In [26]:
SELECT * FROM empleados WHERE nombre REGEXP "e" AND Edad BETWEEN "26" AND "31" AND NOT Telefono REGEXP "6$";
#habia puesto "%6" y no funcionaba, ahora sí, "6$" significa "traeme lo que sea que termine con 6".

ID_empleado,Nombre,Apellido,Telefono,Edad,Domicilio,ID_Gerente
1111222,Alberto,Barrientos,34766613,26,Federal 233,5942572
9611338,Haygnes,Ortiz,35400189,27,General Diaz 343,5942572
9922377,Alexander,Martinez,36554872,28,Camino viejo 123,5942572

In [22]:
SELECT * FROM empleados WHERE Domicilio IS NOT NULL
#para comprobar proporcion de valores nulos vs no nulos para ver si se puede trabajar sobre esa dataset

ID_empleado,Nombre,Apellido,Telefono,Edad,Domicilio,ID_Gerente
1111222,Alberto,Barrientos,34766613,26,Federal 233,5942572
2310967,Jairo,Mira,36403810,29,Calle 25 interior 2,5942572
2520477,Egidio,Lopez,33444383,24,Rosas 996,5942572
2630867,Elena,Atehortua,35581732,37,Sierra del tigre 299,5942572
3833745,Maria,Zapata,35354455,34,Boulevard 85,5942572
4245367,Alexandra,Zapata,33467136,31,Ingenieros 234,5942572
6332756,Reinaldo,Gonzalez,36642727,43,Vallarta 711,5942572
6931035,Albeiro,Villa,33631010,39,Carniceros 233,5942572
9611338,Haygnes,Ortiz,35400189,27,General Diaz 343,5942572
9922377,Alexander,Martinez,36554872,28,Camino viejo 123,5942572

In [31]:
SELECT * FROM empleados WHERE Domicilio IS NOT NULL AND ID_empleado REGEXP "7$|6$"
ORDER BY Apellido DESC;
#Los empleados cuyo domicilio aparezca, su ID de empleado acabe en 7 o 6 y ordenado en orden descendente alfabético por apellido.

ID_empleado,Nombre,Apellido,Telefono,Edad,Domicilio,ID_Gerente
4245367,Alexandra,Zapata,33467136,31,Ingenieros 234,5942572
2310967,Jairo,Mira,36403810,29,Calle 25 interior 2,5942572
9922377,Alexander,Martinez,36554872,28,Camino viejo 123,5942572
2520477,Egidio,Lopez,33444383,24,Rosas 996,5942572
6332756,Reinaldo,Gonzalez,36642727,43,Vallarta 711,5942572
2630867,Elena,Atehortua,35581732,37,Sierra del tigre 299,5942572